*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{background-color: orange;
color: white;
}

p{
    color: red;
}

.parrafo{
    color: green
}

#titulo_unico{
    font-size: 50px;
    text-align: center;
}
